 *,
 *::before
 *::after,
 {
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  html{
    font-family: 'Roboto' , sans-serif;
    font-size: 10px;
  }

  body
   {widt:100%;
     height: 100vh;
     background-color: #eee;
     display: flex;
}

.container{
  width: 100%;
  max-wid : 120rem;
  margin: auto;
  padding: 0 1.5rem;
}

.image-gallery{
  display: grid;
  grid-template-columns: lfr lfr lfr lfr ;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  /* grid-template-areas: ; */

}

.image-gallery a{
  width: 100%;
  height: 25rem;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i{
  /* color: rgba(255,255,255, .6); */
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border:2px solid rgba(255, 255, 255, .6);
  




}
