 *,
 *::before
 *::after,
 {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  }

  html{
    font-family: 'Roboto' , sans-serif;
    font-size: 10px;
  }

  body{
     widt:100%;
     height: 100vh;
     background-color: #eee;
     display:flex;
}

h1{
  font-family: 'Roboto';
  font-size: 40px;
  position: absolute;
  left: 10.5rem;
  top:5rem ;

  }


.social{
  position: absolute;
  right: 10.8rem;

  font-size:30px;

}

a { color: inherit;
text-decoration: none; }





.container{
  width: 100%;
  max-wid : 120rem;
  margin: auto;
  padding: 25rem 10rem;
}

.image-gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
                       /* 'img-11 img-11 img-11 img-11'
                       'img-11 img-11 img-11 img-11' */


                       'img-4 img-13 img-3 img-3'
                       'img-14 img-15 img-7 img-6'
                       'img-10 img-10 img-16 img-17'
                       'img-47 img-11 img-22 img-24'
                       'img-46 img-32 img-32 img-28'
                       'img-46 img-29 img-30 img-31'
                       'img-43 img-44 img-45 img-42'
                       'img-39 img-27 img-41 img-42'
                       'img-39 img-26 img-33 img-34'
                       'img-35 img-38 img-38 img-37'
                       'img-35 img-38 img-38 img-37'

                       ;


}

.image-gallery a{
  width: 100%;
  height: 25rem;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i{
  /* color: rgba(255,255,255, .6); */
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border:2px solid rgba(255, 255, 255, .6);
  border-radius: .4rem;
  opacity: 0;
  transition: : opacity .5s;
}

.image-gallery a::before {
  content:'';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity .5s;

}

.imag-gallery a:hover i,
.image-gallery a:hover::before{
  opacity:1;
}



.img-3{
  grid-area:img-3;
  background-image: url("images/Port-3.jpg");
}

.img-4{
  grid-area:img-4;
  background-image: url("images/Port-4.jpg");
}


.img-6{
  grid-area:img-6;
  background-image: url("images/Port-6.jpg");
}
.img-7{
  grid-area:img-7;
  background-image: url("images/Port-7.jpg");
}


.img-10{
  grid-area:img-10;
  background-image: url("images/Port-10.jpg");
}


.img-11{
  grid-area:img-11;
  background-image: url("images/Port-11.jpg");
}




.img-13{
  grid-area:img-13;
  background-image: url("images/Port-13.jpg");
}

.img-14{
  grid-area:img-14;
  background-image: url("images/Port-14.jpg");
}

.img-15{
  grid-area:img-15;
  background-image: url("images/Port-15.jpg");
}
.img-16{
  grid-area:img-16;
  background-image: url("images/Port-16.jpg");
}


.img-17{
  grid-area:img-17;

  background-image: url("images/Port-17.jpg");
}

.img-14{
  grid-area:img-14;
  background-image: url("images/Port-14.jpg");
}

.img-15{
  grid-area:img-15;
  background-image: url("images/Port-15.jpg");
}

/* .img-20{
  grid-area:img-20;
  background-image: url("images/Port-20.jpg");
} */

.img-22{
  grid-area:img-22;
  background-image: url("images/Port-22.jpg");
}

.img-24{
  grid-area:img-24;
  background-image: url("images/Port-24.jpg");
}



/* .img-25{
  grid-area:img-25;
  background-image: url("images/Port-25.jpg");
  min-height: 51.5rem;
} */

.img-26{
  grid-area:img-26;
  background-image: url("images/Port-26.jpg");
}

.img-27{
  grid-area:img-27;
  background-image: url("images/Port-27.jpg");
   /* min-height: 51.5rem; */
}


.img-28{
  grid-area:img-28;

  background-image: url("images/Port-28.jpg");
}

.img-29{
  grid-area:img-29;
  background-image: url("images/Port-29.jpg");
}

.img-30{
  grid-area:img-30;
  background-image: url("images/Port-30.jpg");
}

.img-31{
  grid-area:img-31;
  background-image: url("images/Port-31.jpg");
}

.img-32{
  grid-area:img-32;
  background-image: url("images/Port-32.jpg");
}


.img-33{
  grid-area:img-33;
  background-image: url("images/Port-33.jpg");
}




.img-34{
  grid-area:img-34;
  background-image: url("images/Port-34.jpg");
}

.img-35{
  grid-area:img-35;
  background-image: url("images/Port-35.jpg");
  min-height: 51.5rem;
}

/* .img-36{
  grid-area:img-36;
  background-image: url("images/Port-36.jpg");
} */


.img-37{
  grid-area:img-37;

  background-image: url("images/Port-37.jpg");
  min-height: 51.5rem;
}

.img-38{
  grid-area:img-38;
  background-image: url("images/Port-38.jpg");
  min-height: 51.5rem;
}

.img-39{
  grid-area:img-39;
  background-image: url("images/Port-39.jpg");
  min-height: 51.5rem;
}
.img-41{
  grid-area:img-41;
  background-image: url("images/Port-41.jpg");
}
.img-42{
  grid-area:img-42;
  background-image: url("images/Port-42.jpg");
  min-height: 51.5rem;
}

.img-43{
  grid-area:img-43;
  background-image: url("images/Port-43.jpg");
}


.img-44{
  grid-area:img-44;

  background-image: url("images/Port-44.jpg");
}

.img-45{
  grid-area:img-45;
  background-image: url("images/Port-45.jpg");
}

.img-46{
  grid-area:img-46;
  background-image: url("images/Port-46.jpg");
  min-height: 51.5rem;
}

.img-47{
  grid-area:img-47;
  background-image: url("images/Port-47.jpg");
}
